<launch>
	<arg name="joy_port" default="js0" />
	<arg name="drone_port" default="ttyUSB0" />
	<arg name="host" value="host"/>
	<arg name="receive_port" default="5000"/>
	<arg name="width" default="640"/>
	<arg name="height" default="480"/>
	<arg name="fps" default="30"/>

	<node pkg="mavros" type="mavros_node" name="drone" required="true" clear_params="true" args="_fcu_url:=/dev/$(arg drone_port):57600"></node>

	<node pkg="multirotors" type="keyboardtest.py" name="keyboard_handler" ></node>
	<node pkg="multirotors" type="joytest.py" name="joy_handler"></node>


    <node pkg="multirotors" type="arbiter.py" name="arbiter" required="true" output="screen"/>

    <node pkg="joy" type="joy_node" name="joy" >
        <param name="autorepeat_rate" value="5" />
        <param name="dev" value="/dev/input/$(arg joy_port)" />
    </node>
</launch>