<launch>
    <include file="$(find multirotors)/launch/import_packages.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="world_to_cam" args="0 0 0 0 0 0 world camera 1" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multirotors)/scripts/fiducial_tracking/fiducial_rviz.rviz" required="true" />

    <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
        <param name="marker_pattern_list" type="string" value="$(find multirotors)/scripts/fiducial_tracking/fiducial_list"/>
        <param name="marker_center_x" type="double" value="0.0"/>
        <param name="marker_center_y" type="double" value="0.0"/>
        <param name="threshold" type="int" value="100"/>
        <param name="use_history" type="bool" value="true"/>
    </node>

	<node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="camera_name" value="camera" />
        <param name="camera_frame_id" value="camera" />
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="1280" />
		<param name="image_height" value="720" />
		<param name="pixel_format" value="mjpeg" />
		<param name="io_method" value="mmap"/>
	</node>
	<node name="image_proc" pkg="image_proc" type="image_proc" ns="camera"/>
</launch>