<launch>
	<arg name="host" value="host"/>
	<arg name="receive_port" default="5000"/>
	<arg name="width" default="640"/>
	<arg name="height" default="480"/>
	<arg name="fps" default="30"/>

    <node pkg="mavros" type="mavros_node" name="drone" clear_params="true" args="_fcu_url:=/dev/ttyUSB0:57600"></node>

    <node pkg="joy" type="joy_node" name="joy" >
        <param name="autorepeat_rate" value="5" />
        <param name="dev" value="/dev/input/js0" />
    </node>
</launch>