<launch>
	<arg name="joy_port" default="js0" />
	<arg name="drone_port" default="ttyUSB0" />
    <node pkg="mavros" type="mavros_node" name="drone" required="true" clear_params="true" args="_fcu_url:=/dev/$(arg drone_port):57600"></node>

    <node pkg="joy" type="joy_node" name="joy" required="true">
        <param name="autorepeat_rate" value="5" />
        <param name="dev" value="/dev/input/$(arg joy_port)" />
    </node>
</launch>